node_modules/
bower_components/
jspm_packages/
dist/
build/
.cache/
.parcel-cache/
out/
public/
.vite/
.env
.env.local
.env.*.local
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.iml
.idea_modules/
.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
*.tmp
*.pid
*.glb
*.gltf
*.bin
*.obj
*.fbx
__MACOSX/
coverage/
*.lcov
*.tsbuildinfo
*.cache/
.temp/
*.js.map
*.d.ts
*.d.ts.map